de.netallied.functionblock.core/castor/LibraryElement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Common elements -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="System">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Identification"/>
        <xs:element maxOccurs="unbounded" ref="VersionInfo"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Application"/>
        <xs:element maxOccurs="unbounded" ref="Device" minOccurs="0"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Mapping">
          <xs:complexType>
            <xs:attribute name="From" use="required" type="xs:string"/>
            <xs:attribute name="To" use="required" type="xs:string"/>
          </xs:complexType>
        </xs:element>
        <!-- Network elements -->
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Segment">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" ref="Parameter"/>
            </xs:sequence>
            <xs:attribute name="Name" use="required" type="xs:string"/>
            <xs:attribute name="Type" use="required" type="xs:string"/>
            <xs:attribute name="Comment" type="xs:string"/>
            <xs:attribute name="x" type="xs:float"/>
            <xs:attribute name="y" type="xs:float"/>
            <xs:attribute name="dx1" type="xs:float"/>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Link">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" ref="Parameter"/>
            </xs:sequence>
            <xs:attribute name="SegmentName" use="required" type="xs:string"/>
            <xs:attribute name="CommResource" use="required" type="xs:string"/>
            <xs:attribute name="Comment" type="xs:string"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Name" use="required" type="xs:string"/>
      <xs:attribute name="Comment" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Identification">
    <xs:complexType>
      <xs:attribute name="Standard" type="xs:string"/>
      <xs:attribute name="Classification" type="xs:string"/>
      <xs:attribute name="ApplicationDomain" type="xs:string"/>
      <xs:attribute name="Function" type="xs:string"/>
      <xs:attribute name="Type" type="xs:string"/>
      <xs:attribute name="Description" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="VersionInfo">
    <xs:complexType>
      <xs:attribute name="Organization" use="required"/>
      <xs:attribute name="Version" use="required"/>
      <xs:attribute name="Author" use="required"/>
      <xs:attribute name="Date" use="required"/>
      <xs:attribute name="Remarks"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompilerInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Compiler"/>
      </xs:sequence>
      <xs:attribute name="header" type="xs:string"/>
      <xs:attribute name="classdef" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Compiler">
    <xs:complexType>
      <xs:attribute name="Language" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="Java"/>
            <xs:enumeration value="Cpp"/>
            <xs:enumeration value="C"/>
            <xs:enumeration value="Other"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Vendor" use="required" type="xs:string"/>
      <xs:attribute name="Product" use="required" type="xs:string"/>
      <xs:attribute name="Version" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="FBNetwork">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="FB"/>
        <xs:element minOccurs="0" ref="EventConnections"/>
        <xs:element minOccurs="0" ref="DataConnections"/>
        <xs:element minOccurs="0" name="AdapterConnections">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" ref="Connection"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Parameter"/>
      </xs:sequence>
      <xs:attribute name="Name" use="required" type="xs:string"/>
      <xs:attribute name="Type" use="required" type="xs:string"/>
      <xs:attribute name="Comment" type="xs:string"/>
      <xs:attribute name="x" type="xs:float"/>
      <xs:attribute name="y" type="xs:float"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventConnections">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Connection"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataConnections">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Connection"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Connection">
    <xs:complexType>
      <xs:attribute name="Source" use="required" type="xs:string"/>
      <xs:attribute name="Destination" use="required" type="xs:string"/>
      <xs:attribute name="Comment" type="xs:string"/>
      <xs:attribute name="dx1" type="xs:float"/>
      <xs:attribute name="dx2" type="xs:float"/>
      <xs:attribute name="dy" type="xs:float"/>
    </xs:complexType>
  </xs:element>
  <!-- FBType elements -->
  <xs:element name="FBType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Identification"/>
        <xs:element maxOccurs="unbounded" ref="VersionInfo"/>
        <xs:element minOccurs="0" ref="CompilerInfo"/>
        <xs:element ref="InterfaceList"/>
        <xs:choice minOccurs="0">
          <xs:element name="BasicFB">
            <xs:complexType>
              <xs:sequence>
                <xs:element  minOccurs="0" name="InternalVars">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element maxOccurs="unbounded" ref="VarDeclaration"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="ECC">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element  maxOccurs="unbounded"  name="ECState">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element  minOccurs="0" maxOccurs="unbounded" name="ECAction">
                              <xs:complexType>
                                <xs:attribute name="Algorithm" type="xs:string"/>
                                <xs:attribute name="Output" type="xs:string"/>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                          <xs:attribute name="Name" use="required" type="xs:string"/>
                          <xs:attribute name="Comment" type="xs:string"/>
                          <xs:attribute name="x" type="xs:float"/>
                          <xs:attribute name="y" type="xs:float"/>
                        </xs:complexType>
                      </xs:element>
                      <xs:element minOccurs="0" maxOccurs="unbounded"  name="ECTransition">
                        <xs:complexType>
                          <xs:attribute name="Source" use="required" type="xs:string"/>
                          <xs:attribute name="Destination" use="required" type="xs:string"/>
                          <xs:attribute name="Condition" use="required" type="xs:string"/>
                          <xs:attribute name="Comment" type="xs:string"/>
                          <xs:attribute name="x" type="xs:float"/>
                          <xs:attribute name="y" type="xs:float"/>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="Algorithm">
                  <xs:complexType>
                    <xs:choice>
                      <xs:element name="FBD">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element maxOccurs="unbounded" ref="FB"/>
                            <xs:element ref="DataConnections"/>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="ST">
                        <xs:complexType>
                          <xs:attribute name="Text" use="required"  type="xs:string"/>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="LD">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element maxOccurs="unbounded"  name="Rung">
                              <xs:complexType>
                                <xs:attribute name="Output" use="required"/>
                                <xs:attribute name="Expression" use="required"/>
                                <xs:attribute name="Comment" type="xs:string"/>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="Other">
                        <xs:complexType>
                          <xs:attribute name="Language" use="required"  type="xs:string"/>
                          <xs:attribute name="Text" use="required"  type="xs:string"/>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                    <xs:attribute name="Name" use="required"  type="xs:string"/>
                    <xs:attribute name="Comment"  type="xs:string"/>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element ref="FBNetwork"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="Service"/>
      </xs:sequence>
      <xs:attribute name="Name" use="required" type="xs:string"/>
      <xs:attribute name="Comment" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="InterfaceList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventInputs">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" ref="Event"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0"  name="EventOutputs">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" ref="Event"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" ref="InputVars"/>
        <xs:element minOccurs="0" ref="OutputVars"/>
        <xs:element minOccurs="0" name="Sockets">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" ref="AdapterDeclaration"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0"  name="Plugs">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" ref="AdapterDeclaration"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InputVars">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="VarDeclaration"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OutputVars">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="VarDeclaration"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Event">
    <xs:complexType>
      <xs:sequence>
        <xs:element  minOccurs="0" maxOccurs="unbounded" name="With">
          <xs:complexType>
            <xs:attribute name="Var" use="required"  type="xs:string"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Name" use="required" type="xs:string"/>
      <xs:attribute name="Type" type="xs:string"/>
      <xs:attribute name="Comment" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="VarDeclaration">
    <xs:complexType>
      <xs:attribute name="Name" type="xs:string" use="required"/>
      <xs:attribute name='Type' use='required'>
        <xs:simpleType>
          <xs:restriction base='xs:string'>
            <xs:enumeration value='BOOL'/>
            <xs:enumeration value='SINT'/>
            <xs:enumeration value='INT'/>
            <xs:enumeration value='DINT'/>
            <xs:enumeration value='LINT'/>
            <xs:enumeration value='USINT'/>
            <xs:enumeration value='UINT'/>
            <xs:enumeration value='UDINT'/>
            <xs:enumeration value='ULINT'/>
            <xs:enumeration value='REAL'/>
            <xs:enumeration value='LREAL'/>
            <xs:enumeration value='TIME'/>
            <xs:enumeration value='DATE'/>
            <xs:enumeration value='TIME_OF_DAY'/>
            <xs:enumeration value='TOD'/>
            <xs:enumeration value='DATE_AND_TIME'/>
            <xs:enumeration value='DT'/>
            <xs:enumeration value='STRING'/>
            <xs:enumeration value='BYTE'/>
            <xs:enumeration value='WORD'/>
            <xs:enumeration value='DWORD'/>
            <xs:enumeration value='LWORD'/>
            <xs:enumeration value='WSTRING'/>
            <xs:enumeration value='COLOR'/>
            <xs:enumeration value='MATRIX'/>
            <xs:enumeration value='ANY'/>
            <xs:enumeration value='ARRAY'/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="ArraySize" type="xs:string"/>
      <xs:attribute name="InitialValue" type="xs:string"/>
      <xs:attribute name="Comment" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdapterDeclaration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Parameter"/>
      </xs:sequence>
      <xs:attribute name="Name" use="required" type="xs:string"/>
      <xs:attribute name="Type" use="required" type="xs:string"/>
      <xs:attribute name="Comment" type="xs:string"/>
    </xs:complexType>
  </xs:element>
    <xs:element name="Service">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="ServiceSequence">
          <xs:complexType>
            <xs:sequence>
              <xs:element  minOccurs="0" maxOccurs="unbounded" name="ServiceTransaction">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="InputPrimitive">
                      <xs:complexType>
                        <xs:attribute name="Interface" use="required"/>
                        <xs:attribute name="Event" use="required"/>
                        <xs:attribute name="Parameters"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="OutputPrimitive">
                      <xs:complexType>
                        <xs:attribute name="Interface" use="required"/>
                        <xs:attribute name="Event" use="required"/>
                        <xs:attribute name="Parameters"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Name" use="required"  type="xs:string"/>
            <xs:attribute name="Comment"  type="xs:string"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="RightInterface" use="required"  type="xs:string"/>
      <xs:attribute name="LeftInterface" use="required"  type="xs:string"/>
      <xs:attribute name="Comment" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <!-- AdapterType elements -->
  <xs:element name="AdapterType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Identification"/>
        <xs:element maxOccurs="unbounded" ref="VersionInfo"/>
        <xs:element minOccurs="0" ref="CompilerInfo"/>
        <xs:element ref="InterfaceList"/>
        <xs:element minOccurs="0" ref="Service"/>
      </xs:sequence>
      <xs:attribute name="Name" use="required" type="xs:string"/>
      <xs:attribute name="Comment" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <!-- ResourceType elements -->
  <xs:element name="ResourceType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Identification"/>
        <xs:element maxOccurs="unbounded" ref="VersionInfo"/>
        <xs:element minOccurs="0" ref="CompilerInfo"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="FBTypeName">
          <xs:complexType>
            <xs:attribute name="Name" use="required" type="xs:string"/>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="VarDeclaration"/>
        <xs:element ref="FBNetwork"/>
      </xs:sequence>
      <xs:attribute name="Name" use="required" type="xs:string"/>
      <xs:attribute name="Comment" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <!-- DeviceType elements -->
  <xs:element name="DeviceType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Identification"/>
        <xs:element maxOccurs="unbounded" ref="VersionInfo"/>
        <xs:element minOccurs="0" ref="CompilerInfo"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="VarDeclaration"/>
        <xs:element  minOccurs="0" maxOccurs="unbounded" name="ResourceTypeName">
          <xs:complexType>
            <xs:attribute name="Name" use="required" type="xs:string"/>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Resource"/>
        <xs:element minOccurs="0" ref="FBNetwork"/>
      </xs:sequence>
      <xs:attribute name="Name" use="required" type="xs:string"/>
      <xs:attribute name="Comment" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Resource">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Parameter"/>
        <xs:element minOccurs="0" ref="FBNetwork"/>
      </xs:sequence>
      <xs:attribute name="Name" use="required" type="xs:string"/>
      <xs:attribute name="Type" use="required" type="xs:string"/>
      <xs:attribute name="Comment" type="xs:string"/>
      <xs:attribute name="x" type="xs:float"/>
      <xs:attribute name="y" type="xs:float"/>
    </xs:complexType>
  </xs:element>
  <!-- System elements -->
  <xs:element name="Application">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="FBNetwork"/>
      </xs:sequence>
      <xs:attribute name="Name" use="required" type="xs:string"/>
      <xs:attribute name="Comment" type="xs:string"/>
    </xs:complexType>
  </xs:element><xs:element name="Device">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Parameter"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Resource"/>
        <xs:element minOccurs="0" ref="FBNetwork"/>
      </xs:sequence>
      <xs:attribute name="Name" use="required" type="xs:string"/>
      <xs:attribute name="Type" use="required" type="xs:string"/>
      <xs:attribute name="Comment" type="xs:string"/>
      <xs:attribute name="x" type="xs:float"/>
      <xs:attribute name="y" type="xs:float"/>
    </xs:complexType>
  </xs:element>
  <!-- SubAppType elements -->
  <xs:element name="SubAppType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Identification"/>
        <xs:element maxOccurs="unbounded" ref="VersionInfo"/>
        <xs:element minOccurs="0" ref="CompilerInfo"/>
        <xs:element name="SubAppInterfaceList">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="SubAppEventInputs">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" ref="SubAppEvent"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="SubAppEventOutputs">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" ref="SubAppEvent"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" ref="InputVars"/>
              <xs:element minOccurs="0" ref="OutputVars"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0"  name="SubAppNetwork">
          <xs:complexType>
            <xs:sequence>
              <xs:element  minOccurs="0" maxOccurs="unbounded" name="SubApp">
                <xs:complexType>
                  <xs:attribute name="Name" use="required" type="xs:string"/>
                  <xs:attribute name="Type" use="required" type="xs:string"/>
                  <xs:attribute name="Comment" type="xs:string"/>
                  <xs:attribute name="x" type="xs:float"/>
                  <xs:attribute name="y" type="xs:float"/>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" ref="FB"/>
              <xs:element minOccurs="0" ref="EventConnections"/>
              <xs:element minOccurs="0" ref="DataConnections"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Name" use="required" type="xs:string"/>
      <xs:attribute name="Comment" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubAppEvent">
    <xs:complexType>
      <xs:attribute name="Name" use="required" type="xs:string"/>
      <xs:attribute name="Type" type="xs:string"/>
      <xs:attribute name="Comment" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Parameter">
    <xs:complexType>
      <xs:attribute name="Name" use="required" type="xs:string"/>
      <xs:attribute name="Value" use="required" type="xs:string"/>
      <xs:attribute name="Comment" type="xs:string"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
